/*******************************************************
	全体設定
*******************************************************/

@charset "utf-8";
* {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ","Meiryo",verdana,Century Gothic,"MSPゴシック","MS PGothic",Sans-Serif;
}

body {
	background:#000;
	width:100%;
	height:100%;
	overflow:hidden;
	
}

h1, h2, h3, h4, h5, h6 {
	color:#FFF;
	font-size: 14px;
	letter-spacing: 1px;
	text-shadow:rgba(0, 0, 0, 1) 0 1px -1px;
	margin:0px;
	padding:0px;
}

a {
	text-decoration:none;
	color: #FFF;
	//border-bottom: 1px dashed #FFF;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.clearfix:after {
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:".";
}
.clearfix {
	min-height: 1px;
}
* html .clearfix {
	height: 1px;
	/*¥*//*/ 
	height: auto;
	overflow: hidden;
   /**/
}


/*******************************************************
	modal window 
*******************************************************/

#modal {
	height:500px;
	width:810px;
	margin:0 auto;
	z-index:90;
	position:absolute;
	display:none;
	top:10%;
	right:12%;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #161616 21%, #3f3f3f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(21%,#161616), color-stop(100%,#3f3f3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#161616 21%,#3f3f3f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#161616 21%,#3f3f3f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#161616 21%,#3f3f3f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#161616 21%,#3f3f3f 100%); /* W3C */
	zfilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */
	opacity:0.9;
	border-radius:15px;
	border: 2px solid rgba(0,0,0,1);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);

}

#modal h1{
	color:#FFF;
	font-size: 48px;
	font-weight:900;
	letter-spacing: 1px;
	padding:0;
	display:inline;
}

#modal h2{
	color:#FFF;
	font-size: 24px;
	font-weight:600;
	letter-spacing: 1px;
	vertical-align:8px; 
	padding-left:20px;
	//padding:0;
	display:inline;
}

#modal h3{
	color:#FFF;
	font-size: 16px;
	font-weight:500;
	letter-spacing: 1px;
	padding:30px 0px 20px;
}

#modal h4{
	color:#FFF;
	font-size: 16px;
	font-weight:500;
	letter-spacing: 1px;
	padding:0px;
}

#modal p{
	color:#FFF;
	font-size: 12px;
	font-weight:500;
	letter-spacing: 1px;
	margin-top:10px;
	padding:0px;
}

#modal_close{
	width:48px;
	position:absolute;
	top:-15px;
	right:-15px;
}


#modal_nav{
	height:500px;
	width:160px;	
	float:left;
	border-radius:15px;
}

#modal_nav img{
	margin:175px 0px 10px 40px;

}


#modal_con{
	height:470px;
	width:550px;
	float:left;
	border-radius:15px;
	padding:40px 70px 0px 30px;
}

#modal_p{
	margin:30px 0px 20px 0px;
	padding:0px;
}

#modal_con img{
//	width:100%;
//	height:100%;
	margin:0;
	padding:20px 10px;
	display:inline;
}

	



/*******************************************************
	ナビゲーション - nav
*******************************************************/

nav{
	width:18%;
	height:100%;
	z-index:50;
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #161616 79%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(79%,#161616), color-stop(100%,#000000)); /* 	Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #333333 0%,#161616 79%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333333 0%,#161616 79%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
	border-right:3px solid rgba(237,97,5,1);
	opacity:0.8;
	position:absolute;
	top:0px;
	left:-20%;
	padding:0px;
	margin:0px;
//	display:none;
}

nav h1{
	color:#FFF;
	font-size: 11px;
	font-weight:500;
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
}

nav h2{
	color:#FFF;
	font-size: 11px;
	font-weight:200;
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
}

nav h3{
	width:100%;
	color:#FFF;
	font-size: 9px;
	font-weight:200;
	letter-spacing: 1px;
	position:absolute;
	bottom:3%;
	left:10%;
	//padding:0px;
}



#title{
	width:100%;
	padding:20% 0% 20% 15%;
	display:block;
	//margin-left:auto;
	//margin-right:auto;
}


#nav_thumb {
	width:100%;
	height:500px;
  	overflow:hidden;
	margin:0;
	margin-left:0px;
	padding:0;
	z-index:55;
}

#nav_thumb #container {
	margin: 0;
    padding: 0;
    width: 151px;
	height: 1200px;
}

#nav_thumb .item {
    border: medium none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
	display:block;
}

#nav_thumb img{
	//width:100%;
	//height:100%;
	margin:0;
	padding:0;
	z-index:55;
    border: 1px solid rgba(255, 255, 255, 0.5);
}


#iconlist{
	//width:100%;
	//height:100%;
	margin:28% 5%;
	padding:0;
}

#iconlist img{
	width:42px;
	margin:0 5px;
	padding:0;
	float:left;

}

#icon_tag{
	//width:100%;
	//height:100%;
	position:absolute;
	top:2px;
	right:-50px;
}


#toindex{
	background-image:url(../images/icon_index_fl.png);	
	opacity:1;
}

#toaboutme{
	background-image:url(../images/icon_aboutme_fl.png);	
	opacity:1;
}

#tocontact{
	background-image:url(../images/icon_contact_fl.png);	
	opacity:1;
}



/*******************************************************
	インデックス - index
******************************************************/

#index{
	width:80%;
	height:75%;
	z-index:75;
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #161616 79%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(79%,#161616), color-stop(100%,#000000)); /* 	Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #333333 0%,#161616 79%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333333 0%,#161616 79%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
	border-top:5px solid rgba(237,97,5,0.8);
	border-radius:0 0 15px 15px;
	opacity:0.9;
	position:absolute;
	top:-90%;
	left:5%;
	padding:5%;
	margin:0px;
//	display:none;
}

#index h1{
	color:#FFF;
	font-size: 32px;
	font-weight:800;
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
	display:inline;
	float:left;
}

#index h2{
	color:#FFF;
	font-size: 16px;
	font-weight:900;
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
}

#index p{
	color:#FFF;
	font-size: 12px;
	font-weight:200;
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
}

#category {
	width:100%;
	//height:100%;
  	overflow:hidden;
	margin:0;
	margin-top:2%;
	padding:0;
	position:relative;
}

#indexarrow{
	width:42px;
	margin:0;
	padding:0;
	flort:right;
}

#index_thumb_01 {
	width:100%;
	height:100%;
  	overflow:hidden;
	margin-left:100%;
	margin-top:1%;
	padding:0;
}

#index_thumb_02 {
	width:100%;
	height:100%;
  	overflow:hidden;
	margin-left:100%;
	margin-top:1%;
	padding:0;
}

#index_thumb_03 {
	width:100%;
	height:100%;
  	overflow:hidden;
	margin-left:100%;
	margin-top:1%;
	padding:0;
}


#index img {
	width:100px;
	margin:1% 2% 0;
	padding:0%;
	border: 1px solid rgba(255, 255, 255, 0.5);
	display:inline;
	float:left;
}

hr {
    border: 0px;
    height: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    border-top: 1px solid rgba(235, 100, 1, 0.7);
    border-bottom: 1px solid rgba(160, 95, 50, 0.8);
}

#indextitle{
	width:100%;
	margin: 0;
	padding: 0;
	float:left;
}

#indexarrow{
	width:100%;
	margin:0;
	padding:0;

}

#indexarrow img{
	width:62px;
	margin-top:-20px;
	padding-left:610px;
	float:left;
	border:none;
	display:inline;
}



/*******************************************************
	コンタクトフォーム-contact
******************************************************/

#contact{
	width:50%;
	height:75%;
	z-index:92;
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #161616 79%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(79%,#161616), color-stop(100%,#000000)); /* 	Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #333333 0%,#161616 79%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333333 0%,#161616 79%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
	border-top:5px solid rgba(237,97,5,0.8);
	border-radius:0 0 15px 15px;
	opacity:0.9;
	position:absolute;
	bottom:-93%;
	right:8%;
	padding:5%;
	margin:0px;
//	display:none;
}

#contact h1{
	color:#FFF;
	font-size: 32px;
	font-weight:800;
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
	display:inline;
	float:left;
}

#contact h2{
	color:#FFF;
	font-size: 16px;
	font-weight:900;
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
}

#contact p{
	color:#FFF;
	width:80%;
	font-size: 14px;
	font-weight:500;
	letter-spacing: 1px;
	margin:20px;
	padding:0;
}


#contacttitle{
	width:100%;
	margin: 0;
	padding: 0;
	float:left;
}


#contactarrow{
	width:100%;
	margin:0;
	padding:0;

}

#contactarrow img{
	width:62px;
	margin-top:-20px;
	padding-left:260px;
	float:left;
	border:none;
	display:inline;	
}

/*
.input-block{
	color:#FFF;
	font-size:14px;
	width:100%;
	margin-top:20px;
}
*/

label{
	color:#fff;
	font-size:14px;
	font-weight:900;
}

#contact-name{
	font-size:11px;
	width:100%;
	margin-top:10px;
	margin-left:10px;
	border:none;
	border-radius:1px;
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);	
}

#contact-name{
	font-size:11px;
	width:100%;
	margin-top:5px;
	margin-left:10px;
	padding:7px;
	border:none;
	border-radius:1px;
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);	
}

#contact-email{
	font-size:11px;
	width:100%;
	margin-top:5px;
	margin-left:10px;
	padding:7px;
	border:none;
	border-radius:1px;
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);	
}

#contact-subject{
	font-size:11px;
	width:100%;
	margin-top:5px;
	margin-left:10px;
	padding:7px;
	border:none;
	border-radius:1px;
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);	
}

#contact-message{
	font-size:11px;
	width:100%;
	margin-top:5px;
	margin-left:10px;
	padding:7px;
	border:none;
	border-radius:1px;
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);	
}





/*******************************************************
	詳細 - explain
******************************************************/

#explain{
	width:38%;
	height:30%;
	z-index:70;
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #161616 79%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(79%,#161616), color-stop(100%,#000000)); /* 	Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333333 0%,#161616 79%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
	border-left:3px solid rgba(237,97,5,1);
	opacity:0.8;
	position:absolute;
//	display:none;
	bottom:20%;
	right:-55%;
	padding:3% 10% 7% 5%;
	margin:0px;
}



#explain h1{
	color:#FFF;
	font-size: 30px;
	font-weight:2000;
	letter-spacing: 1px;
	margin:0%;
	padding:0%;
	font-stretch:extra-condensed;
}

#explain h2{
	color:#FFF;
	font-size: 18px;
	font-weight:200;
	letter-spacing: 1px;
	margin-top:10%;
	padding:0px;
}

#explain h3{
	color:#FFF;
	font-size: 16px;
	font-weight:200;
	letter-spacing: 1px;
	padding:0px;
}


#explain h4{
	color:#FFF;
	font-size: 16px;
	font-weight:200;
	letter-spacing: 1px;
	padding:0px;
}


#explain p{
	color:#FFF;
	font-size: 14px;
	font-weight:200;
	letter-spacing: 1px;
	padding:0px;
}



#explain #no01{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
//		opacity:0;
	}

#explain #no02{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no03{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no04{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no05{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no06{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no07{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no08{
		position:absolute;
		right:10%;
		top:10%;
		width:80%;
		opacity:0;
	}

#explain #no09{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no10{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no11{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no12{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no13{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no14{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no15{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no16{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}


#explain #no17{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}


/*******************************************************
	背景画像 - bg
*******************************************************/

#bg {
	height:100%;
	margin:auto;
	z-index:10;
}

#bg #viewport {
	margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 1024px;
	height: 768px;
}


#bg .flipsnap {
    padding: 0;
	height:768px;
    width: 17408px;
}


#bg .item {
    border: medium none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
	float: left;
}


#bg img{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}



