/*******************************************************
	全体設定
*******************************************************/

@charset "utf-8";
* {
  font-family: Century Gothic,"メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"MSPゴシック","MS PGothic",Sans-Serif;
}

body {
	background:#000;
	width:100%;
	height:100%;
	overflow:hidden;
	
}

h1, h2, h3, h4, h5, h6 {
	color:#FFF;
	font-size: 14px;
	letter-spacing: 1px;
	text-shadow:rgba(0, 0, 0, 1) 0 1px -1px;
	margin:0px;
	padding:0px;
}

a {
	text-decoration:none;
	color: #FFF;
	//border-bottom: 1px dashed #FFF;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.clearfix:after {
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:".";
}
.clearfix {
	min-height: 1px;
}
* html .clearfix {
	height: 1px;
	/*¥*//*/ 
	height: auto;
	overflow: hidden;
   /**/
}

/*******************************************************
	modal window 
*******************************************************/

#modal {
	height:500px;
	width:810px;
	margin:0 auto;
	z-index:90;
	position:absolute;
	display:none;
	top:10%;
	right:12%;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #161616 21%, #3f3f3f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(21%,#161616), color-stop(100%,#3f3f3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#161616 21%,#3f3f3f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#161616 21%,#3f3f3f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#161616 21%,#3f3f3f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#161616 21%,#3f3f3f 100%); /* W3C */
	zfilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */
	opacity:0.9;
	border-radius:15px;
	border: 2px solid rgba(0,0,0,1);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);

}

#modal h1{
	color:#FFF;
	font-size: 48px;
	font-weight:900;
	letter-spacing: 1px;
	padding:0;
	display:inline;
}

#modal h2{
	color:#FFF;
	font-size: 24px;
	font-weight:600;
	letter-spacing: 1px;
	vertical-align:8px; 
	padding-left:20px;
	//padding:0;
	display:inline;
}

#modal h3{
	color:#FFF;
	font-size: 16px;
	font-weight:500;
	letter-spacing: 1px;
	padding:30px 0px 20px;
}

#modal h4{
	color:#FFF;
	font-size: 16px;
	font-weight:500;
	letter-spacing: 1px;
	padding:0px;
}

#modal p{
	color:#FFF;
	font-size: 12px;
	font-weight:500;
	letter-spacing: 1px;
	margin-top:10px;
	padding:0px;
}

#modal_close{
	position:absolute;
	top:-15px;
	right:-15px;
}


#modal_nav{
	height:500px;
	width:160px;	
	float:left;
	border-radius:15px;
}

#modal_nav img{
	margin:175px 0px 10px 40px;

}


#modal_con{
	height:470px;
	width:550px;
	float:left;
	border-radius:15px;
	padding:40px 70px 0px 30px;
}

#modal_p{
	margin:30px 0px 20px 0px;
	padding:0px;
}

#modal_con img{
//	width:100%;
//	height:100%;
	margin:0;
	padding:20px 10px;
	display:inline;
}

	



/*******************************************************
	ナビゲーション - nav
*******************************************************/

nav{
	width:18%;
	height:100%;
	z-index:50;
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #161616 79%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(79%,#161616), color-stop(100%,#000000)); /* 	Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #333333 0%,#161616 79%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333333 0%,#161616 79%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
	opacity:0.8;
	position:absolute;
	top:0px;
	left:-20%;
	padding:0px;
	margin:0px;
//	display:none;
}

nav h1{
	color:#FFF;
	font-size: 11px;
	font-weight:500;
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
}

nav h2{
	color:#FFF;
	font-size: 11px;
	font-weight:200;
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
}

nav h3{
	width:100%;
	color:#FFF;
	font-size: 9px;
	font-weight:200;
	letter-spacing: 1px;
	position:absolute;
	bottom:1%;
	left:10%;
	//padding:0px;
}

#title{
	width:100%;
	padding:20% 0% 20% 15%;
	display:block;
	//margin-left:auto;
	//margin-right:auto;
}


#mcs_container .customScrollBox{overflow:auto;}
#mcs_container .dragger_container{display:none;}





#nav_thumb {
	width:100%;
	height:500px;
  	overflow: hidden;
	margin:0;
	margin-left:0px;
	padding:0;
	z-index:10;
}

/*
#nav_thumb {
	width:100%;
	height:500px;
//  overflow: scroll;
	margin:0;
	margin-left:0px;
	padding:0;
	z-index:10;
}
*/
#nav_thumb #container {
	margin: 0;
    padding: 0;
    width: 151px;
	height: 1200px;
}

#nav_thumb .item {
    border: medium none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
	display:block;
}

#nav_thumb img{
	//width:100%;
	//height:100%;
	margin:0;
	padding:0;
	z-index:90;
    border: 1px solid rgba(255, 255, 255, 0.5);
}






/*******************************************************
	詳細 - explain
*******************************************************/

#explain{
	width:38%;
	height:25%;
	z-index:75;
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #161616 79%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(79%,#161616), color-stop(100%,#000000)); /* 	Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333333 0%,#161616 79%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333333 0%,#161616 79%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
	opacity:0.8;
	position:absolute;
//	display:none;
	bottom:20%;
	right:-55%;
	padding:3% 10% 7% 5%;
	margin:0px;
}



#explain h1{
	color:#FFF;
	font-size: 30px;
	font-weight:2000;
	letter-spacing: 1px;
	margin:0%;
	padding:0%;
}

#explain h2{
	color:#FFF;
	font-size: 18px;
	font-weight:200;
	letter-spacing: 1px;
	margin-top:10%;
	padding:0px;
}

#explain h3{
	color:#FFF;
	font-size: 16px;
	font-weight:200;
	letter-spacing: 1px;
	padding:0px;
}


#explain h4{
	color:#FFF;
	font-size: 16px;
	font-weight:200;
	letter-spacing: 1px;
	padding:0px;
}


#explain p{
	color:#FFF;
	font-size: 14px;
	font-weight:200;
	letter-spacing: 1px;
	padding:0px;
}



#explain #no01{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
//		opacity:0;
	}

#explain #no02{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}

#explain #no03{
		position:absolute;
		right:20%;
		top:10%;
		width:70%;
		opacity:0;
	}



/*******************************************************
	背景画像 - bg
*******************************************************/

#bg {
	height:100%;
	margin:auto;
	z-index:10;
}

#bg #viewport {
	margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 1024px;
	height: 768px;
}


#bg .flipsnap {
    padding: 0;
    width: 3072px;
}


#bg .item {
    border: medium none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
	float: left;
}


#bg img{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}



