/*******************************************************
	全体設定
*******************************************************/

@charset "utf-8";
* {
  font-family: Century Gothic,"メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"MSPゴシック","MS PGothic",Sans-Serif;
}

body {
	background:#000;
	width:100%;
//	height:100%;
}

h1, h2, h3, h4, h5, h6 {
	color:#FFF;
	font-size: 14px;
	letter-spacing: 1px;
	text-shadow:rgba(0, 0, 0, 0.50) 0 1px 1px;
	margin:0px;
	padding:0px;
}

a {
	text-decoration:none;
	color: #FFF;
	//border-bottom: 1px dashed #FFF;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	transition: all 1s ease-out;
}


#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0.3;
	z-index:99;
}


/*******************************************************
	ナビゲーション - nav
*******************************************************/

nav{
	width:20%;
	height:100%;
	z-index:50;
	background-color:#000;
	opacity:0.8;
	position:absolute;
	top:0px;
	left:0px;
	padding:0px;
	margin:0px;
	display:none;
}

nav h1{
	color:#FFF;
	font-size: 11px;
	font-weight:500;
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
}

nav h2{
	color:#FFF;
	font-size: 11px;
	font-weight:200;
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
}

nav h3{
	width:100%;
	color:#FFF;
	font-size: 9px;
	font-weight:200;
	letter-spacing: 1px;
	position:absolute;
	bottom:1%;
	left:10%;
	//padding:0px;
}

#title{
	width:100%;
	padding:20% 0% 20% 15%;
	display:block;
	//margin-left:auto;
	//margin-right:auto;
}




#nav_thumb {
	width:100%;
	height:500px;
    overflow: scroll;
	margin:0;
	margin-left:0px;
	padding:0;
	z-index:10;
}

#nav_thumb #container {
	margin: 0;
    padding: 0;
    width: 151px;
	height: 1200px;
}

#nav_thumb .item {
    border: medium none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
	display:block;
}

#nav_thumb img{
	//width:100%;
	//height:100%;
	margin:0;
	padding:0;
	z-index:90;
    border: 2px solid rgba(255, 255, 255, 1);
}


/******************************
フリック用


#nav_thumb {
	width:100%;
	margin:auto;
	z-index:10;
}

#nav_thumb #viewport {
	margin: 0 auto;
//    overflow: hidden;
    overflow: auto;
    padding: 0;
    width: 151pzx;
	height: 500px;
}


#nav_thumb .flipsnap {
    padding: 0;
	width:151px;
    height: 770px;
}


#nav_thumb .item {
    border: medium none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
	//float: left;
}


#nav_thumb img{
	//width:100%;
	//height:100%;
	margin:0;
	padding:0;
	z-index:90;
    border: 2px solid rgba(255, 255, 255, 1);
}

*********************/







/*******************************************************
	詳細 - explain
*******************************************************/

#explain{
	width:38%;
	height:25%;
	z-index:75;
	background-color:#000;
	opacity:0.7;
	position:absolute;
	bottom:20%;
	right:0px;
	padding:3% 10% 7% 5%;
	margin:0px;
}

#explain h1{
	color:#FFF;
	font-size: 30px;
	font-weight:2000;
	letter-spacing: 1px;
	margin:0%;
	padding:0%;
}

#explain h2{
	color:#FFF;
	font-size: 18px;
	font-weight:200;
	letter-spacing: 1px;
	margin-top:10%;
	padding:0px;
}

#explain h3{
	color:#FFF;
	font-size: 16px;
	font-weight:200;
	letter-spacing: 1px;
	padding:0px;
}


#explain h4{
	color:#FFF;
	font-size: 16px;
	font-weight:200;
	letter-spacing: 1px;
	padding:0px;
}


#explain p{
	color:#FFF;
	font-size: 14px;
	font-weight:200;
	letter-spacing: 1px;
	padding:0px;
}

#explainbox01{
	display:block;
	}

#explainbox02{
	display:none;
	}

#explainbox03{
	display:none;
	}


/*******************************************************
	背景画像 - bg
*******************************************************/

#bg {
	height:100%;
	margin:auto;
	z-index:10;
}

#bg #viewport {
	margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 1024px;
	height: 768px;
}


#bg .flipsnap {
    padding: 0;
    width: 3072px;
}


#bg .item {
    border: medium none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
	float: left;
}


#bg img{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}



